@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
:root {
  --orange: #E86A33;
  --dark-green: #263A29;
  --light-green: #41644A;
  --cream: #F2E3DB;
  --white: white;
  --red: #FF2400;
  color-scheme: light dark;
  color: var(--white);
  background-color: var(--cream);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
input,
button,
textarea,
select {
  font-family: "Libre Baskerville", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: currentColor;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 3rem;
  background-color: var(--light-green);
  color: var(--cream);
}
nav a {
  display: inline-block;
  padding: 1rem;
  transition: letter-spacing 0.5s, color 0.5s, background-color 0.5s;
  position: relative;
  outline: none;
}
nav a:hover, nav a:focus {
  letter-spacing: 0.1rem;
  background-color: var(--orange);
}
nav #favourite_counter {
  display: grid;
  place-items: center;
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  font-size: 0.75rem;
  background-color: var(--orange);
  border-radius: 50%;
  top: 0.25rem;
  right: 0;
}

#root {
  min-height: 100vh;
}

.hero_text {
  margin-block: 2rem;
  font-size: 5rem;
  text-align: center;
  padding-block: 2rem;
  background-color: var(--dark-green);
}

.card_list_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 23rem);
  gap: 2rem;
  justify-content: space-evenly;
  justify-items: center;
}

.preview_card {
  background-color: var(--dark-green);
  width: 25rem;
  height: -moz-max-content;
  height: max-content;
  border-radius: 1rem;
  position: relative;
}
.preview_card .open_full_link {
  transition: filter 0.5s;
  position: relative;
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.preview_card .open_full_link:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  background: url(./assets/read-svgrepo-com.svg) no-repeat center;
  background-size: 50%;
  filter: opacity(0);
  transition: filter 0.5s;
}
.preview_card .open_full_link:hover {
  filter: grayscale(0.5);
}
.preview_card .open_full_link:hover:after {
  filter: opacity(1);
}
.preview_card .open_full_link img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.preview_card h3 {
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-bottom: 1px solid var(--dark-green);
}
.preview_card .food_info {
  padding-inline: 1rem;
}
.preview_card .food_info .grid_collapse {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s;
}
.preview_card .food_info .grid_collapse.open {
  grid-template-rows: 1fr;
}
.preview_card .food_info .grid_collapse.open ul:after {
  filter: opacity(0);
}
.preview_card .food_info ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.preview_card .food_info ul:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2rem;
  background: linear-gradient(transparent, var(--orange));
  transition: filter 0.5s;
}
.preview_card .food_info ul li {
  display: flex;
  justify-content: space-between;
}
.preview_card .food_info ul li p:nth-of-type(odd) {
  color: var(--cream);
}
.preview_card .food_buttons {
  display: grid;
  grid-template-columns: 0.25fr 1fr 0.25fr;
}
.preview_card .food_buttons button {
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
}
.preview_card .food_buttons button.full_list:hover {
  background-color: grey;
}
.preview_card .food_buttons button.love_btn:hover {
  color: var(--red);
}
.preview_card .food_buttons button.delete_btn:hover {
  background-color: var(--red);
}

.logo {
  font-size: 3rem;
}

.category_selector {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 3rem;
  margin: 2rem;
  background: var(--dark-green);
  gap: 3rem;
}
.category_selector .display-flex {
  gap: 0.5rem;
}
.category_selector select {
  padding: 0.25rem 0.5rem;
  flex: 1 1 auto;
}

.popup_text {
  background-color: var(--light-green);
  padding: 1rem;
}

#product_page .food_name {
  text-align: center;
  margin-block: 1rem;
  padding-block: 1rem;
  font-size: 3rem;
  background-color: var(--orange);
}
#product_page .top_section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3rem;
  padding-inline: 5rem;
  color: var(--dark-green);
  margin-block: 2rem;
}
#product_page .top_section img {
  height: 30rem;
  width: 30rem;
  place-self: center;
  -o-object-fit: cover;
     object-fit: cover;
}
#product_page .top_section ul li {
  display: flex;
  justify-content: space-between;
}
#product_page .top_section ul li:nth-of-type(odd) {
  border-bottom: 1px solid var(--dark-green);
}
#product_page .top_section ul li:nth-of-type(even) {
  border-bottom: 1px solid var(--orange);
}
#product_page .details_section {
  display: flex;
  color: var(--dark-green);
  justify-content: space-between;
  padding: 1rem 5rem;
  font-size: 1.5rem;
  border-top: 1px solid var(--orange);
  border-bottom: 1px solid var(--orange);
  margin-block: 1rem;
  font-weight: bold;
}
#product_page .food_instruction {
  background-color: var(--dark-green);
  margin-inline: 3rem;
  padding: 1rem;
  padding-top: 0;
}
#product_page .food_instruction h1 {
  text-align: center;
  border-bottom: 1px solid var(--orange);
  padding-block: 1rem;
}
#product_page .food_instruction p {
  padding: 2rem;
}

.text-center {
  text-align: center;
}

.display-flex {
  display: flex;
}

.category_card {
  border-radius: 1rem;
  text-align: center;
  background: radial-gradient(#636b64, #263A29);
  box-shadow: 0 0 1rem inset black;
  transition: box-shadow 0.5s;
  cursor: pointer;
  outline: none;
}
.category_card img {
  border-radius: 1rem 1rem 0 0;
  transition: transform 0.2s;
}
.category_card:hover, .category_card:focus {
  box-shadow: 0 0 1rem inset white;
}
.category_card:hover img, .category_card:focus img {
  transform: scale(1.1);
}/*# sourceMappingURL=index.css.map */