@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --orange: #E86A33;
  --dark-green: #263A29;
  --light-green: #41644A;
  --cream: #F2E3DB;
  --white: white;
  --red: #FF2400;

  color-scheme: light dark;
  color: var(--white);
  background-color: var(--cream);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
input,
button,
textarea,
select {
  font-family: "Libre Baskerville", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: currentColor;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 3rem;
  background-color: var(--light-green);
  color: var(--cream);

  a {
    display: inline-block;
    padding: 1rem;
    transition: letter-spacing 0.5s, color 0.5s, background-color 0.5s;
    position: relative;
    outline: none;
  }

  a:hover, a:focus {
    letter-spacing: 0.1rem;
    background-color: var(--orange);

  }

  #favourite_counter {
    display: grid;
    place-items: center;
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    font-size: 0.75rem;
    background-color: var(--orange);
    border-radius: 50%;
    top: 0.25rem;
    right: 0;
  }
}

#root {
  min-height: 100vh;
}
.hero_text {
  margin-block: 2rem;
  font-size: 5rem;
  text-align: center;
  padding-block: 2rem;
  background-color: var(--dark-green);
}

.card_list_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 23rem);

  gap: 2rem;
  justify-content: space-evenly;
  justify-items: center;
}

.preview_card {
  background-color: var(--dark-green);
  width: 25rem;
  height: max-content;
  border-radius: 1rem;
  position: relative;
  .open_full_link {
    transition: filter 0.5s;
    position:relative;
    display: block;
    border: none;
    background-color: transparent;
    cursor: pointer;
    &:after {
      content: '';
      position: absolute;
      left: 0; right: 0;
      top: 0;
      height: 100%;
      background: url(./assets/read-svgrepo-com.svg) no-repeat center;
      background-size: 50%;
      filter: opacity(0);
      transition: filter 0.5s;
    }
    &:hover {
      filter: grayscale(0.5);
      &:after {
        filter: opacity(1);
      }
      }
    img {
      max-width: 100%;
      object-fit: cover;
    }
  }

  h3 {
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-bottom: 1px solid var(--dark-green);
  }

  .food_info {
    padding-inline: 1rem;

    .grid_collapse {
      display: grid;
      grid-template-rows: 0fr;
      transition: grid-template-rows 0.5s;
      &.open {
        grid-template-rows: 1fr;
        ul:after {
          filter: opacity(0);
        }
      }
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2rem;
        background: linear-gradient(transparent, var(--orange));
        transition: filter 0.5s
      }

      li {
        display: flex;
        justify-content: space-between;
        p:nth-of-type(odd) {
          color: var(--cream);
        }
      }
    }
  }

  .food_buttons {
    display: grid;
    grid-template-columns: 0.25fr 1fr 0.25fr;

    button {
      font-size: 1rem;
      border: none;
      cursor: pointer;
      transition: color 0.2s, background-color 0.2s;

      &.full_list {
        &:hover {
          background-color: grey;
        }
      }

      &.love_btn:hover {
        color: var(--red);
      }

      &.delete_btn:hover {
        background-color: var(--red);
      }
    }
  }
}

.logo {
  font-size: 3rem;
}

.category_selector {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 3rem;
  margin: 2rem;
  background: var(--dark-green);
  gap: 3rem;
  .display-flex {
    gap: 0.5rem;
  }
  select {
    padding: 0.25rem 0.5rem;
    flex: 1 1 auto;
  }
}

.popup_text {
  background-color: var(--light-green);
  padding: 1rem;
}

#product_page {
  .food_name {
    text-align: center;
    margin-block: 1rem;
    padding-block: 1rem;
    font-size: 3rem;
    background-color: var(--orange);
  }
  .top_section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
    padding-inline: 5rem;
    color: var(--dark-green);
    margin-block: 2rem;
    img {
      height: 30rem;
      width: 30rem;
      place-self: center;
      object-fit: cover;
    }
    ul {
      li {
        display: flex;
        justify-content: space-between;
      }
      li:nth-of-type(odd) {
        border-bottom: 1px solid var(--dark-green)
      }
      li:nth-of-type(even) {
        border-bottom: 1px solid var(--orange)
      }
    }
  }
  .details_section {
    display: flex;
    color: var(--dark-green);
    justify-content: space-between;
    padding: 1rem 5rem;
    font-size: 1.5rem;
    border-top: 1px solid var(--orange);
    border-bottom: 1px solid var(--orange);
    margin-block: 1rem;
    font-weight: bold;
  }
  .food_instruction {
    background-color: var(--dark-green);
    margin-inline: 3rem;
    padding: 1rem;
    padding-top: 0;
    h1 {
      text-align: center;
      border-bottom: 1px solid var(--orange);
      padding-block: 1rem;
    }
    p {
      padding: 2rem;
    }
  }
}

.text-center {
  text-align: center;
}

.display-flex {
  display: flex;
}

.category_card {
  border-radius: 1rem;
  text-align: center;
  background: radial-gradient(#636b64, #263A29);
  box-shadow: 0 0 1rem inset black;
  transition: box-shadow 0.5s;
  cursor: pointer;
  outline: none;
  img {
    border-radius: 1rem 1rem 0 0;
    transition: transform 0.2s;
  }
  &:hover,&:focus {
    box-shadow: 0 0 1rem inset white;
    img {
      transform: scale(1.1);
    }
  }
}