@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --orange: #E86A33;
  --light-green: #6f7f72;
  --green: #41644A;
  --very-green: rgb(0, 255, 0);
  --cream: #F2E3DB;
  --white: white;
  --red: #FF2400;
  --black: rgb(56, 52, 52);

  color-scheme: light dark;
  color: var(--white);
  background-image: linear-gradient(rgb(39, 39, 39), rgb(59, 70, 62));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
input,
button,
textarea,
select {
  font-family: "Libre Baskerville", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: currentColor;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 3rem;
  background-color: var(--green);
  color: var(--cream);

  a {
    display: inline-block;
    padding: 1rem;
    transition: letter-spacing 0.5s, color 0.5s, background-color 0.5s;
    position: relative;
    outline: none;
  }

  a:hover,
  a:focus {
    letter-spacing: 0.1rem;
    background-color: var(--orange);

  }

  #favourite_counter {
    display: grid;
    place-items: center;
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    font-size: 0.75rem;
    background-color: var(--orange);
    border-radius: 50%;
    top: 0.25rem;
    right: 0;
  }
}

#menu_button {
  display: none;
}

#root {
  min-height: 100vh;
}

.hero_text {
  margin-block: 2rem;
  font-size: 3rem;
  text-align: center;
  padding-block: 1rem;
  background-color: var(--light-green);
}

.card_list_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 50rem);

  gap: 2rem;
  justify-content: space-evenly;
  justify-items: center;
}

.preview_card {
  background-color: var(--light-green);
  width: 50rem;
  height: 20rem;
  position: relative;
  display: flex;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0 1rem var(--black);
  transition: left 0.5s, transform 0.5s, filter 0.5s, background-color 0.5s, box-shadow 0.5s;

  &:hover,
  &:focus-within {
    box-shadow: 0 0 0.5rem 0.01rem var(--white);
  }

  .image_container {
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 30rem;
      background: url(./assets/read-svgrepo-com.svg) center no-repeat,
        rgba(255, 255, 255, 0.2);
      background-size: 10rem;
      transition: filter 0.5s;
      filter: opacity(0);
    }

    &:hover:after,
    &:focus:after {
      filter: opacity(1);
    }
  }

  img {
    height: 20rem;
    width: 20rem;
    aspect-ratio: 1;
    object-fit: cover;
  }

  .food_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30rem;

    h3 {
      height: 3rem;
      padding: 0.5rem 1rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    ::-webkit-scrollbar {
      width: 1rem;
    }

    ::-webkit-scrollbar-thumb {
      background-color: transparent;
      box-shadow: inset 0 0 0.25rem var(--black);

      &:hover {
        background-color: var(--orange);
      }
    }

    ul {
      height: 100%;
      box-shadow: inset 0 0 1rem var(--black);
      list-style: none;
      display: flex;
      flex-direction: column;
      overflow: auto;
      position: relative;

      li {
        display: flex;
        justify-content: space-between;
        padding: 0.25rem 1.5rem;
        transition: background-color 0.5s, padding 0.5s;

        &:hover {
          background-color: var(--orange);
        }

        p:nth-of-type(odd) {
          color: var(--cream);
        }
      }
    }
  }
}


#home {
  .card_list_container {
    display: block;
    height: 30rem;
    position: relative;
    overflow: hidden;

    .preview_card {
      position: absolute;
      transition-timing-function: cubic-bezier(0.37, 0, 0.63, 1);
    }

    .preview_card[data-state="pastactive"] {
      left: -100%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .preview_card[data-state="loved"] {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(0);
      background-color: var(--very-green);
      filter: blur(2rem);
    }

    .preview_card[data-state="delete"] {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(0);
      background-color: var(--red);
      filter: blur(2rem);
    }

    .preview_card[data-state="active"] {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .preview_card[data-state="inactive"] {
      left: 100%;
      top: 50%;
      transform: translate(0, -50%);
    }

  }

  .food_buttons {
    display: flex;
    justify-content: center;
    padding-block: 2rem;
    gap: 3rem;

    button {
      cursor: pointer;
      transition: color 0.2s, background-color 0.2s;
      font-size: 1.5rem;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      border: none;

      &.full_list {
        &:hover {
          background-color: grey;
        }
      }

      &.love_btn:hover {
        color: var(--red);
      }

      &.delete_btn:hover {
        background-color: var(--red);
      }
    }
  }
}

main {
  padding-bottom: 2rem;
}

.delete_btn_container {
  button {
    float: right;
    border: none;
    padding: 0.25rem 0.5rem;
    font-size: 1.25rem;
    cursor: pointer;
    transition: background-color 0.5s;

    &:hover {
      background-color: var(--red);
    }
  }
}

#favourites {
  .card_list_container {
    padding-block: 2rem;
  }
}

#categories_page {
  .card_list_container {
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem 2rem;
  }
}

.category_card {
  border-radius: 1rem;
  text-align: center;
  background: radial-gradient(#636b64, #263A29);
  box-shadow: 0 0 1rem inset black;
  transition: box-shadow 0.5s;
  cursor: pointer;
  outline: none;

  img {
    border-radius: 1rem 1rem 0 0;
    transition: transform 0.2s;
    max-width: 100%;
  }
  h2 {
    padding: 0.5rem 1rem;
  }
  &:hover,
  &:focus {
    box-shadow: 0 0 1rem inset white;

    img {
      transform: scale(1.1);
    }
  }
}

.logo {
  font-size: 3rem;
}

.category_selector {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 3rem;
  margin: 2rem;
  background-color: var(--light-green);
  gap: 3rem;
  border-radius: 1rem;

  .display-flex {
    gap: 0.5rem;
  }

  select {
    padding: 0.25rem 0.5rem;
    flex: 1 1 auto;
    cursor: pointer;
  }
}

.popup_text {
  background-color: var(--green);
  padding: 1rem 2rem;
  border-radius: 1rem;
  margin-inline: 2rem;
}

#product_page {
  .food_name {
    text-align: center;
    margin-block: 1rem;
    padding-block: 1rem;
    font-size: 3rem;
    background-color: var(--orange);
  }

  .top_section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-inline: 5rem;

    img {
      height: 30rem;
      width: 30rem;
      place-self: center;
      object-fit: cover;
    }

    .grid_container {
      border: 1px solid var(--orange);
      padding: 2rem 1rem;
      min-width: 25rem;

      h2 {
        margin-bottom: 1rem;
      }

      ul {
        li {
          display: flex;
          justify-content: space-between;
          margin-bottom: 0.5rem;
        }

        li:nth-of-type(odd) {
          border-bottom: 1px solid var(--light-green)
        }

        li:nth-of-type(even) {
          border-bottom: 1px solid var(--orange)
        }
      }
    }
  }

  .details_section {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 5rem;
    border-top: 1px solid var(--orange);
    border-bottom: 1px solid var(--orange);
    margin-block: 1rem;
    font-weight: bold;
  }

  .food_instruction {
    background-color: var(--light-green);
    margin-inline: 3rem;
    padding: 1rem;
    padding-top: 0;

    h1 {
      text-align: center;
      border-bottom: 1px solid var(--orange);
      padding-block: 1rem;
    }

    p {
      padding: 2rem;
    }
  }
}

.favourite-btn {
  float: right;
  font-size: 3rem;
  border: none;
  background-color: transparent;
  color: var(--cream);
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.display-flex {
  display: flex;
}

@media (max-width: 1100px) {
  nav {
    padding-inline: 1rem;
  }

  .category_card {
    width: fit-content;

    img {
      max-width: 100%;
    }
  }
  #search_page {
    .category_selector {
      padding: 1rem 2rem;
    }
    .display-flex {
      flex-direction: column;
    }
  }
}

@media (max-width: 1000px) {
  #categories_page .card_list_container {
    grid-template-columns: repeat(3, 1fr);
  }
  #product_page {
    .top_section {
      flex-direction: column;
      .grid_container {
        min-width: 30rem;
      }
    }
  }
}

@media (max-width: 950px) {
  .navigation {
    z-index: 9;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    backdrop-filter: blur(1rem);
    transform: translate(100%);
    transition: transform 0.5s;
    background-color: rgba(0, 0, 0, 0.3);

    a {
      width: 20rem;

      #favourite_counter {
        top: 50%;
        left: 12rem;
        transform: translate(-50%, -50%);
      }
    }
  }

  #menu_button {
    display: block;
    font-size: 2rem;
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.5s;
    z-index: 10;
    color: var(--white);

    &:hover {
      color: var(--orange)
    }
  }

  .preview_card {
    width: 20rem;
    height: 40rem;
    flex-direction: column;

    .food_info {
      width: 20rem;
      height: 20rem;
    }
  }
  #home {
    .card_list_container {
      height: 45rem;

    }
  }
  .card_list_container {
    grid-template-columns: repeat(auto-fill, 20rem);
    gap: 2rem;
  }

}

@media(max-width: 800px) {
  .logo {
    font-size: 2rem;
  }

  .hero_text {
    font-size: 2rem;
  }
  #search_page {
    .category_selector {
      grid-template-columns: 1fr 1fr;
      .display-flex:last-child {
        grid-column: 1 / 3;
      }
    }
  }
  .category_card {
    h2 {
      font-size: 1rem;
    }
  }
  #product_page {
    .details_section {
      padding-inline: 2rem;
      flex-direction: column;
      gap: 1rem;
    }
    .food_instruction {
      padding-inline: 0;
      margin: 0;
    }
  }
}

@media (max-width: 600px) {
  #categories_page {
    .card_list_container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 500px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  #search_page {
    .category_selector {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (max-width: 400px) {
  html {
    font-size: 12px;
  }
}